.hero_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    overflow-x: hidden;
}

.hero_container .img_container {
    align-self: flex-start;
    max-width: 400px ;

}
.hero_container img {

    height: 90vw;
    max-height: 400px ;
}

@keyframes rightToLeft {
    from {
        transform: translateX(100%);
        visibility: hidden;
    }
    to {
        transform: translateX(0);
        /* visibility: visible; */
    }
}


.hero_container h1 {
    margin-top: 20px;
    /* animation: 1s ease-in 0s 1 rightToLeft; */
}

.hero_container p {
    margin-top: 5px;
    margin-bottom: 24px;
    color: var(--greyishViolet);
    /* animation: 1.2s ease-in 0s 1 rightToLeft; */
}

@media (min-width: 992px) {

    .hero_container {
        flex-direction: row-reverse;
        padding-left: 140px;
    }
    .hero_container h1 {
        font-size: 62px;
        line-height: 1.2;
    }

    .hero_text {
        text-align: left;
        margin-right: 50px;
        /* border: 1px solid red; */
        flex-grow: 2;
    }
    .hero_container img{
        /* border: 1px solid red; */
        flex-grow: 1;
    }
}